# Config files
*.config.js
*.config.ts
vite.config.ts
tailwind.config.js
postcss.config.js

# Build outputs
dist
build
.tauri

# Node modules
node_modules

# Tauri backend
src-tauri

# Public assets
public
